$bandsite-black: #323232;
$bandsite-darkblack: #000000;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$white: #FFFFFF;
$alabaster: #FAFAFA;


// $mobile-breakpoint: 20rem; //320px
$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 75rem; // 1200px