@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
.background {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Avenir Next";
}

body {
  margin: 0;
}

h1 {
  color: #FFFFFF;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  h2 {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0;
}
@media screen and (min-width: 48rem) {
  p {
    font-size: 0.92rem;
    line-height: 1.65;
  }
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .header {
    flex-direction: row;
  }
}
.header__container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .header__container {
    margin: 0rem 3rem 1rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__container {
    padding: 2rem 0rem 2rem 0rem;
    margin: 0 2rem 0 6rem;
  }
}
.header__logo {
  display: flex;
  max-height: 1.25rem;
  max-width: 7.5rem;
}

@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
  }
}
.nav__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.nav__item {
  display: block;
  text-align: center;
  padding: 1rem;
  width: 50%;
}
@media screen and (min-width: 48rem) {
  .nav__item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin: 0 1rem;
    justify-content: center;
  }
}
.nav .location {
  border-bottom: 3px solid #FFFFFF;
  font-weight: 600;
}
.nav__link {
  text-decoration: none;
  color: #FFFFFF;
}

.hero {
  display: flex;
}
.hero__image {
  display: flex;
  background-image: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vw;
}
.hero__title {
  align-self: center;
  margin: 0 1rem;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__image {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
@media screen and (min-width: 48rem) {
  .about__image {
    margin: 0rem 3rem 1rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__image {
    padding: 1rem 6rem;
    margin: 0 auto;
  }
}
.about__quote {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (min-width: 48rem) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 600;
    margin: 0rem 3rem 1rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__quote {
    padding: 1rem 0rem 1rem 6rem;
    margin: 0;
    width: 75%;
  }
}
.about__author {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (min-width: 48rem) {
  .about__author {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .about__author {
    margin: 0rem 3rem 1rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__author {
    padding: 0rem 6rem 2rem 6rem;
    margin: 0;
  }
}
.about__bodytitle {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .about__bodytitle {
    font-size: 1.774rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .about__bodytitle {
    margin: 0rem 3rem 1rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__bodytitle {
    padding: 1rem 6rem;
    margin: 0;
  }
}
@media screen and (min-width: 48rem) {
  .about__body {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media screen and (min-width: 48rem) {
  .about__body {
    margin: 0rem 3rem 1rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__body {
    padding: 1rem 6rem;
    margin: 0 auto;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}
.gallery__header {
  width: 100%;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 48rem) {
  .gallery__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
}
.gallery__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__image {
    width: 32.8%;
    padding: 0.5rem;
    margin-bottom: 0;
  }
}

.comment {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment__title {
  width: 100%;
}
.comment__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  max-width: 768px;
  margin: 0 auto;
}
@media screen and (min-width: 48rem) {
  .comment__container {
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .comment__container {
    width: 100%;
  }
}
.comment__container--entry {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment__entryheader {
  display: flex;
  width: 100%;
}
.comment__profile {
  margin-right: 1rem;
}
.comment__image {
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
  background-image: linear-gradient(rgb(225, 225, 225), rgb(225, 225, 225));
}
.comment__form {
  display: flex;
  flex-direction: column;
}
.comment__label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #AFAFAF;
}
.comment__input {
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
  background: #FAFAFA;
  margin: 0.5rem 0;
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  width: 14rem;
}
@media screen and (min-width: 48rem) {
  .comment__input {
    width: 32rem;
  }
}
.comment__input--box {
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
  background: #FAFAFA;
  margin: 0.5rem 0;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
}
.comment__submit {
  background: #323232;
  color: #FFFFFF;
  padding: 0.75rem;
  font-weight: 600;
  border: 1px solid #323232;
  border-radius: 0.25rem;
}
@media screen and (min-width: 48rem) {
  .comment__submit {
    width: 10rem;
    align-self: end;
  }
}
.comment__new {
  display: flex;
  flex-direction: column;
  max-width: 690px;
}
@media screen and (min-width: 48rem) {
  .comment__new {
    padding: 0rem 3rem 1rem 3rem;
    margin: 0 auto;
  }
}
.comment__divider {
  border-top: 1px solid #AFAFAF;
  width: 100%;
}
.comment__name {
  font-weight: 600;
  width: 50%;
}
.comment__timecode {
  display: flex;
  justify-content: flex-end;
  color: #AFAFAF;
  width: 50%;
}
.comment__text {
  padding-bottom: 1rem;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 48rem) {
  .footer__socials {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer__title {
  color: #FFFFFF;
  margin-right: 1.5rem;
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
  padding-right: 7rem;
  display: flex;
}
@media screen and (min-width: 80rem) {
  .footer__list {
    padding-right: 28rem;
  }
}
.footer__icon {
  height: 1.5rem;
  padding-right: 2rem;
}
@media screen and (min-width: 48rem) {
  .footer__icon {
    height: 1.5rem;
  }
}
.footer__logo--top {
  display: none;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo--top {
    display: flex;
  }
}
.footer__logo--bottom {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo--bottom {
    display: none;
  }
}
.footer__logo--desktop {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding-bottom: 0.5rem;
  line-height: 1.5;
}
.footer__contacts span {
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contacts {
    width: 70%;
  }
}
.footer__text span {
  font-weight: 600;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.footer__rights {
  color: #FFFFFF;
  font-size: 0.7rem;
  padding: 1rem 0;
}
@media screen and (min-width: 48rem) {
  .footer__rights {
    font-size: 1rem;
  }
}

.margin {
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 48rem) {
  .margin {
    padding: 0rem 3rem 1rem 3rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 80rem) {
  .margin {
    padding: 1rem 6rem;
    margin: 0 auto;
  }
}/*# sourceMappingURL=bio.css.map */