@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.background {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next";
}

.biomain {
  padding: 0 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #323232;
}
.header__container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.header__logo {
  justify-self: center;
  max-height: 1.25rem;
  max-width: 7.5rem;
}

.nav__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  justify-content: space-evenly;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    justify-content: flex-start;
  }
}
.nav__item {
  display: block;
  text-align: center;
  padding-bottom: 1rem;
  width: 50%;
}
@media screen and (min-width: 48rem) {
  .nav__item {
    display: flex;
    width: inherit;
  }
}
.nav .location {
  border-bottom: 3px solid #FFFFFF;
  font-weight: 600;
}
.nav__link {
  text-decoration: none;
  color: #FFFFFF;
}

.hero {
  display: flex;
  height: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__image {
  background-image: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url(../assets/Images/hero-bio.jpg);
}
.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  padding-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
.about__image {
  width: 100%;
  height: auto;
}
.about__quote {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0;
}
.about__bodytitle {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0;
}
.about__body {
  font-size: 0.84rem;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: #E1E1E1;
  flex-wrap: wrap;
}
.gallery__header {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
}
.gallery__photo {
  padding: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
.footer__title {
  color: #FFFFFF;
  font-weight: 600;
}
.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.footer__contact {
  color: #FFFFFF;
  padding-bottom: 0.5rem;
  line-height: 1.5;
}
.footer__name {
  font-weight: 600;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
}
.footer__rights {
  color: #FFFFFF;
}

.margin {
  margin: 0 1rem;
}/*# sourceMappingURL=bio.css.map */