@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/fonts' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Avenir Next";
}

.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: $bandsite-black;
    &__container{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    &__logo{
        justify-self: center;
    }
    .nav{
        &__list{
            display: flex;
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            justify-content:space-evenly;
        }
        &__item{
                display: block;
                text-align: center;
                padding-bottom: 1rem;
                width: 50%;
            }

        .location{
            border-bottom: 2.5px solid $white;
            font-weight: 600;
        }
        
        &__link{
            text-decoration: none;
            color: $white;
        }
    }
}

.hero{
    display: flex;
        &__image{
            background-image: url(../assets/Images/hero-bio.jpg);
        }
        height: 100vh;
        background-size: cover;
        background-position: center;

        &__title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;
        }

}

